.App {
  max-width: 100%;
  background-color: rgba(247, 247, 247, 1);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  height: 100vh;
  max-height: fit-content;
}

.spin {
  height: 200px;
  margin: 20%;
}
