
.movie-container {
    height: fit-content;
    list-style: none;
    text-align: center;
    background-color: white;
    width: 67%;
    margin: 0 auto;
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5% 5%;
}

.movie-container__pagination {
    height: 50px;
    grid-column: 1/-1;
}