.search-filters {
    padding-bottom: 7px;
    border-bottom: 1px solid rgb(202, 208, 202);
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}