.search-filters {
    border-bottom: 1px solid grey;
    height: 35px;
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.search-filters span {
    height: 100%;
    width: 64px;
    display: flex;
    justify-content: center;
    line-height: 22px;
}