.searchbar_container {
    width: 100%;
}


.searchbar {
    border:1px solid rgba(217, 217, 217, 1);
    border-radius: 4px;
    width: 97%;
    padding: 10px;
    margin: 0 auto;
    
}

@media(max-width:420px) {
    .searchbar {
        width: 89%;
        
    }

    .searchbar_container {
        margin: 0 auto;
        width: 90%;
    }
}