header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}

input {
    width: 100%;
    margin: 0;
    padding: 0;
}

